.header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.color{
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.335);
    cursor: pointer;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}
.red {
    background-color: red;
}
.tomato {
    background-color: tomato;
}
.magenta {
    background-color: magenta;
}
.choose {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #eee;
    min-height: 500px;
    padding: 20px;
}
.add {
    height: 30px;
    width: fit-content;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: tomato;
    color: white;
}
.task {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width:400px;
    height: 30px;
    border: 1px black solid;
    outline: none
}
.new-task {
    width:300px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.del {
    border-radius:8px ;
    -webkit-border-radius:8px ;
    -moz-border-radius:8px ;
    -ms-border-radius:8px ;
    -o-border-radius:8px ;
    background-color: red;
    color: white;
    font-size: 15px;
    height: 20px;
    width: 80px;
    text-align: center;
    cursor: pointer;
}
.done {
    opacity: 0.5;
}